.markdown-embed {
    font-style: var(--embed-font-style);
    background-color: var(--embed-background);
    border-top: var(--embed-border-top);
    border-right: var(--embed-border-right);
    border-bottom: var(--embed-border-bottom);
    /* border-left: var(--embed-border-left); */
    margin: 0;
    /* padding: var(--embed-padding); */
}
